<h1>Edit Module</h1>

<% if (errors != undefined) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form action = "/listModules/edit/ + '<%= module.mid%>'"  method="POST">
  <label>Module ID:</label><br>
  <input type="text" name="module_id" value=<%= module.mid %> readonly><br>
  <label>name:</label><br>
  <input type="text" name="module_name" value=<%= module.name %>><br>
  <label>Credits:</label><br>
  <input type="text" name="module_credits" value=<%= module.credits %>><br>
  <input type="submit" value="Submit">
</form> 
<% } %>
<br>
<p><a href="/"><ul>Home</ul></a></p>