<h1>Edit Module</h1>

<% if (errors != undefined) { %>
    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error %></li>
        <% }) %>
    </ul>
<% } %>

<!-- The link for the post method contains the id passed in with the url, ensuring that should any input be incorrect the forms will still be prepopulate the second time the user sees them-->
<form action = "/listModules/edit/<%= module.mid%>"  method="POST">
  <label>Module ID:</label><br>
  <input type="text" name="module_id" value=<%= module.mid %> readonly><br>
  <label>name:</label><br>
  <input type="text" name="module_name" value=<%= module.name %>><br>
  <label>Credits:</label><br>
  <input type="text" name="module_credits" value=<%= module.credits %>><br>
  <input type="submit" value="Submit">
</form>
<br>
<p><a href="/listModules"><ul>Back to modules list</ul></a></p>